{% extends 'base.html'%}
{% block fixed_nav %}

<body>
    <div class="left"></div>
        <div class="content">
            <div class="gray user_list_follow">
    </div>
    내 팔로잉
    {% for following in name %}
        <div class="followings">
            <div class="followings_id">
                
            <a class="gray" href="{% url 'user_detail' user_pk=following.owner_id %}">{{ following.name}}</a>
            </div>

        </div>
    {% endfor %}
 
    내 팔로워들
   {% for followers in name %}
        <div class="followers">
            <div class="followers_id">
                
            <a class="gray" href="{% url 'user_detail' user_pk=followers.owner_id %}">{{ followers.name }}</a>
            </div>

        </div>
    {% endfor %}
</div>
</body>
{% endblock %}