{% extends 'base.html' %}
{% block fixed_nav%}
<body>
    <div class="left"></div>
        <div class="content">
            <div class="gray user_list_follow">
        팔로우할 만한 유저 둘러보기 
    </div>
     <h5>프로필로 표시</h5>
    {% for profile in profiles %}
        {% if profile.name is not None %}
        <div class="user">
            <div class="profile_id">
            <img src="{{profile.photo.url}}" alt="" style="border-radius:50%;height:30px; width:30px;">
            <a class="gray" href="{% url 'user_detail' profile.id %}">{{ profile.name }}</a>
            </div>
            <!--div class="user_description">
                {#{user.description}#}
            </!--div-->
        </div>
            {%endif %}
    {% endfor %}
</div>
</body>
{% endblock %}