{% extends 'base.html' %}
{% block fixed_nav%}
    <h3>Pictory</h3>

    {% if data.is_authenticated %}
    <h2>로그인 정보</h2>
    <ul>
        {% for key,value in data.items %}
        <li>{{key}} : {{value}}</li>
        {% endfor %}
    </ul>
  
    <a style="color: darkorange" href="/logout">로그아웃</a>
    <a style="color: darkorange" href='{% url 'myprofile' %}'>내 프로필</a>
    <a style="color: darkorange" href='{% url 'posting' %}'>내 픽토리</a>

    {% else %}
    <h2>Log in to navigate other people's Pictories!</h2><br /><br />
    <a style="color: darkorange" href='{% url 'login' %}'>로그인</a><br />
	<a style="color: darkorange" href='{% url 'register' %}'>회원가입</a>
    
    {% endif %}
{% endblock %}